h3 {
    color: pink;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}